
@using eMMA.Web.Startup
@model eMMA.Web.Models.UniSubjects.UniSubjectListViewModel
@{
    ViewData["Title"] = "Subject";
}

<h2>Subject</h2>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Subjects")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Title")</th>
                            <th>@L("Credits")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subject in Model.UniSubjects)
                        {
                            <tr>
                                <td>@subject.Title</td>
                                <td>@subject.Credits</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-subject" data-subject-id="@subject.Id" data-toggle="modal" data-target="#subjectEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-subject" data-subject-id="@subject.Id" data-subject-name="@subject.Title"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-subject" data-subject-id="@subject.Id" ><i class="material-icons">edit</i>@L("Assign")</a></li>
                                        <li><a class="waves-effect waves-block delete-subject" asp-action="Details" asp-route-uniSubjectId="@subject.Id"><i class="material-icons">edit</i>@L("Details")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#UserCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>*@
